@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the range controls from number input */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  
  /* Remove the range controls from number input for newer browsers */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

*::-webkit-scrollbar{
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* Example styles - adjust as needed */
.windowO {
    animation: windowOpen ease-in-out 300ms forwards;
}

.windowC {
    animation: windowClose ease-in-out 300ms forwards;
}

.windowORev {
    animation: windowOpenRev ease-in-out 300ms forwards;
}

.windowCRev {
    animation: windowCloseRev ease-in-out 300ms forwards;
}


/* Example styles - adjust as needed */
.windowO,
.windowC {
    z-index: 10;
}

.quickO {
    animation: quickOpen ease-in-out 300ms forwards;
}

.quickC {
    animation: quickClose ease-in-out 300ms forwards;
}

/* Example styles - adjust as needed */
.quickO,
.quickC {
    z-index: 9;
}

/* Add this to your CSS or in the component style tag */
.slick-slider {
    display: flex;
    flex-direction: row;
  }
  

@keyframes windowOpen {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes windowClose {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes windowOpenRev {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes windowCloseRev {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


@keyframes quickOpen {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes quickClose {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
